<article class='post'>
  <h4>{{title}}</h4>
  <h5>{{post_text}}</h5>
  by:
  {{user.username}}
  on
  {{format_date created_at}}

  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>

</article>